PORT=
TZ=

MONGO_DB_STRING=

CORS_ALLOWED_ORIGINS=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

PAGINATION_PAGE_DEFAULT=
PAGINATION_PER_PAGE_DEFAULT=

USE_MOCKED_IP=
MOCKED_CLIENT_IP=

IPIFY_KEY=
JWT_SECRET=

REQUIRE_SECURE_COOKIES=
CREDENTIALS_EXPIRY_DURATION=
REFRESH_EXPIRY_DURATION=
REFRESH_TOKEN_LIFETIME=